body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #0077b3;
}

main {
  flex: 1 0 auto;
  margin: 0 2rem;
}

.page-footer {
  padding: 0;
}

.main-links {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.main-link {
  font-size: 2rem;
  display: inline-block;
  position: relative;
}

.main-link:not(:last-child) {
  margin-right: 3rem;
}

.main-link::after {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  height: 2px;
  width: 0;
  background-color: #311b92;
  transition: width 0.2s ease-in-out;
}

.main-link:hover::after,
.main-link:focus::after {
  width: 100%;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
}

select {
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 600px) {
  main {
    margin: 0 1rem;
  }

  .main-links {
    flex-direction: column;
    align-items: center;
  }

  .main-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}